#translator_list ul {
    list-style: none;
}

#translator_list input[type="checkbox"] {
    margin-right: 1em;
}

#translator_download_link {
    width: 99%;
}

#translator {
    overflow: auto;
}

#translator table {
    width: 100%;
    margin-top: 1em;
}

#translator td {
    vertical-align: top;
}

#translator .translator_key {
    width: 5em;
}

#translator textarea {
    padding: 0;
}

#translator .translator_from textarea {
    /* adjust the following to your needs */
    width: 100%;
    height: 4em;
}

#translator .translator_to textarea {
    /* adjust the following to your needs */
    width: 100%;
    height: 4em;
}

#translator .translator_to .translator_new {
    background: yellow;
    color: black;
}
